.timeline {
    width: 800px;
    margin: 100px auto;
    border: 1px solid red;
    position: relative;
}
.timeline::after {
    /* height:100% 보다 bottom이 더 유연함*/
    content: '';
    background-color: dodgerblue;
    position: absolute;
    width: 40px;
    top: -30px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: -50px auto;
}
.item {
    background-color: orange;
    height: auto; 
    padding: 40px;
} 
.item:nth-child(odd) {
    margin-left: 50%;
}
.item:nth-child(even) {
    margin-right: 50%;
}